.main-container{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}
.activity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.activity-items{
    width: 100%;
    border: 2px solid black;
    margin: 10px;

}
h1{
    font-size: larger;
}
.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.grid-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border: 2px solid black;
}
.footer{
    margin-top: 10px;;
}